

.bus {
	position:absolute;
	margin-left:0px;
	margin-top:0px;
}

#gf1 {
	position:absolute;
	margin-left:880px;
	margin-top:30px;
	
	
}


#gf2 {
	position:absolute;
	margin-top:300px;
	
}
	
#gf3 {
	position:absolute;
	margin-top:300px;
	margin-left:880px;
	
}

