
.content img {
	width: 2500px;
	height: 140px;
	margin-top: 0px;
}

.second{
	margin-top: -20px;
}

.contreg{
    margin-top: 10px;
}

.tot{
    margin-top: 20px;
}
.Assunt{
    position:absolute;
    margin-top: -130px;
    margin-left: 50px;
    color:white;
    font-size: 150%;
   
}

#result{
    margin-left: 10;
    margin-top: 50px;
}

.form1{
    
    margin: auto;
}

.content  {
	
	margin-top: 66px;
        
        
}




.img5 {
  
    margin-top: 40px;
}