

.hea1 {

	background:#cfcfcf;
	text-align: center;
	width:100%;	
	height:130px;	
}
.hea1 h1 {	
	text-align: center;	
	font-size:50px;
	text-shadow:1px 1px 3px black;
	color:#cccccc;
	font-family:arial,Calibri, verdana;
	
}

.hea1 h3 {	
	text-align: center;	
	font-size:25px;
	text-shadow:1px 1px 3px black;
	color:#cccccc;
	font-family:arial,Calibri, verdana;
	
}
.hea2 {

	background:black;	
	width:100%;	
	height:25px;
	margin-top:0px;
	
}

.return {
	position:absolute;
	margin-top:800px;	
}

.a1  {
	text-shadow: 1px 1px 1px black;
	font-size:13px;
	color:#cfcfcf;
}
nav#menu  {
	list-style:none;
	text-transform: uppercase;
	position:absolute;
	left:130px;
	top:130px;

	
}
nav#menu li {
	display:inline;
	background-color:black;
    margin:15px;
	padding-left:20px;
	padding-right:20px;
	transition:color 1s;
}

nav#menu a:hover {
	color:#FFFFFF;
	text-decoration:none;
	text-shadow: 1px 1px 5px #FFFFFF;
	font-size:15px;

}

nav#menu {
	display:block;
}


.roda  {
	list-style:none;
	text-transform: uppercase;
	position:absolute;
	left:50px;
	top:150px;
	background-color:#0080FF;;
	width:100%;
	left:0px;
	height:20px;
}



