
#bt1 {
	position: absolute;
	margin-top: 0px;
        margin-left: 50px;
        
} 

.selet {
	
	margin-top: -70px;
        margin-left: 20px;
        
} 


 
 .graf {
	
	margin-top: 90px;
       
        
} 