header {
	margin-bottom: 32px !important;

}

#fmr{

	 margin-top: -15px;

}

#one {
	width:1300px;	
	height:450px;
	margin:auto;
	margin-top:40px;
	box-shadow:  1px 1px 10px #363636;
	
}

#for1 {
	padding:5px;
}
#for2 {
	padding:5px;
}
#for3 {
	padding:5px;
}
#for4 {
	padding:5px;
}

